<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <meta name="description" content="A community website dedicated to Tayport which is located on the east coast of Scotland in Fife." />

    <meta name="keywords" content="tayport, fife, scotland, community, {{ page.keywords }}" />

<style type="text/css">
html {
  line-height: 1.15; /* 1 */
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
}
</style>

  </head>
  <body>

    <h1>Tayport Community Website</h1>


    {{ content }}


    <br/>
    <br/>
    <p><a href="https://github.com/mmcnicol/tayport-community-website/edit/gh-pages/{{ page.path }}">edit this page</a> - please contribute</p>

    <p>Tayport Community Website<br /><br />Supported by Tayport Community Council [April 2003 – present]<br /></p>


<!-- google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-274412-4', 'auto');
  ga('send', 'pageview');
</script>


  </body>
</html>

